mutagen>=1.46.0
torch>=1.13.1
torchaudio>=0.13.1
torchinfo>=1.8.0
torchmetrics>=0.11.4
speechbrain>=0.5.14
audiomentations>=0.30.0
torch-audiomentations>=0.11.0
tqdm>=4.64.0
pytest>=7.2.0
pytest-cov>=2.10.1
pytest-flake8>=1.1.1
pytest-mypy>=0.10.0
acoustics>=0.2.6
pyyaml>=6.0
tensorflow-cpu==2.8.1
tensorflow_probability==0.16.0
protobuf>=3.20
onnx_tf==1.10.0
onnx==1.14.0
pronouncing>=0.2.0
datasets>=2.14.4
deep-phonemizer==0.0.19
